<div class="event-form-container">
    <h1 class="events-header">Edit user data</h1>

    <%= render partial: 'form', locals: { button_name: 'Save', action_path: user_path(@form.user.id), action_method: :put} %>
</div>