<% if alert.present? %>
<div class="container mt-3">
    <div class="alert alert-danger" role="alert">
    <%= alert %>
    </div>
</div>
<% end %>

<% if notice.present? %>
<div class="container mt-3">
    <div class="alert alert-success" role="alert">
    <%= notice %>
    </div>
</div>
<% end %>