<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="color: rgb(226, 226, 226);"><%= header %></h1>
    <p class="lead" style="color: rgb(226, 226, 226);"><%= subheader %></p>
  </div>
</div>