<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="color: #12a0b3;"><%= header %></h1>
    <p class="lead" style="color: #12a0b3;"><%= subheader %></p>
  </div>
</div>