<div class="events-container">
    <%= render partial: '/shared/page_header', locals: { header: 'Internetowa aplikacja integrująca osoby aktywnie uprawiające sport', subheader: 'Welcome in my app :)'} %>
</div>