<div>
    <h3><%= @event.title %></h3>
    <%= simple_format @event.description %>
</div>

<p>Are you sure you want destroy this event?</p>
<p>
  <%= link_to "Yes", event_path(@event), method: :delete, class: "btn btn-danger" %>
  <%= link_to "No", events_path, class: "btn btn-secondary" %>
</p>
