<div class="events-container">
    <% if params[:category].present? %>
        <%- subheader = "#{current_user.email} events"  %>
        <%- header = "My events list" %>
    <% else %>
        <%- subheader = "There are events created by users."  %>
        <%- header = "Events List" %>
    <% end %>

    <%= render partial: '/shared/page_header', locals: { header: header, subheader: subheader} %>
    <div class="events-subheader blue mb-3">
        <h4>You can add your own one:</h4>
        <%= link_to new_event_path, class: "add-event " do %>
            <i class="fa fa-calendar-plus"></i>
        <% end %>
        
        
    </div>

    <%= render partial: 'events', locals: {collection: @events} %>
</div>