<div class="events-container">
    <% if params[:category].present? %>
        <%- subheader = "#{current_user.email} events"  %>
        <%- header = "My events list" %>
    <% else %>
        <%- subheader = "There are events created by users."  %>
        <%- header = "Events List" %>
    <% end %>

    <%= render partial: '/shared/page_header', locals: { header: header, subheader: subheader} %>
    <div class="events-subheader">
        <div id="events-sub-h">
            <h4>You can add your own one:</h4>
        </div>

        <div id="events-sub-i">
            <%= link_to new_event_path, class: "add-event btn btn-success" do %>
                <i class="fa fa-calendar-plus btn-block"></i>
            <% end %> 
        </div>
        <div style="clear: both;"></div>
        
         
    </div>
    <div style="clear: both;"></div>

    <%= render partial: 'events', locals: {collection: @events} %>
    <%= paginate @events %>
</div>