<div class="events-container">
    <h1 class="events-header">Events list!</h1>
    <div class="events-subheader blue mb-3">You can add your own one:<%= link_to "Add event", new_event_path, class: 'btn btn-outline-info btn-sm ml-3' %></div>

    <%= render partial: 'events', locals: {collection: @events} %>
</div>