<div class="events-container">
    <% if params[:category].present? %>
        <%- subheader = "#{current_user.email} events"  %>
        <%- header = "My events list" %>
    <% else %>
        <%- subheader = "There are events created by users."  %>
        <%- header = "Events List" %>
    <% end %>

    <%= render partial: '/shared/page_header', locals: { header: header, subheader: subheader} %>
    <div class="events-subheader blue mb-3">You can add your own one:<%= link_to "Add event", new_event_path, class: 'btn btn-info btn-sm ml-3', style: "color: rgb(226, 226, 226);" %></div>

    <%= render partial: 'events', locals: {collection: @events} %>
</div>