<div class="event-form-container">
    <h1 class="events-header">New Event</h1>

    <%= render partial: 'form', locals: { button_name: 'Create', action_path: events_path, action_method: :post} %>
</div>