<h1>Invitation has been refused successfully</h1>
<pre>
    We have many others events that may interest you!!!
    If you want to see them, click in the link below to create an account in our amazing app :)
</pre>
<%= link_to "Create account", new_registration_url(email: @email)  %>
