<h1>Event has been destroyed</h1>
<hr>
<pre>
    The event entitled "<b><%= @event.title %></b>" of which you were a member has been removed :(
</pre>
<%= link_to "Click here to chceck other events", events_url %>
