@import "breakpoints";
@import "colors";

.alert {
    margin: 20px auto !important;
    max-width: 900px;
    box-shadow: $box-shadow;

    @media screen and (max-width: $large) {
        max-width: 700px;
    }

    @media screen and (max-width: $medium) {
        max-width: 400px;
    }
    @media screen and (max-width: $small) {
        max-width: 340px;
    }
}