/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css"; 

@import "breakpoints";
@import "containers";
@import "events";
@import "colors";
@import "users";
@import "components";
@import "custom_navbar";
@import "forms";
@import "alerts";
@import "icons";
@import "pagination";

body {
    background-color: $background-color;
}

.btn {
    color: $text-color;
    background-color: #434738;
    border-color: #343a40;
}
.navbar {
    background-color: $nav-color;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.4);  
    
    .navbar-toggler{
        color: $nav-links-color;
    }


    .navbar-brand, 
    .navbar-collapse .navbar-nav .nav-item .nav-link    
    {
        color: $nav-links-color;
    }
    .navbar-brand:hover, 
    .navbar-collapse .navbar-nav .nav-item .nav-link:hover, 
    .navbar-collapse .navbar-nav .nav-item .nav-link:active {
        color: $nav-links-color-hover;
    }


}

.custom-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    @media screen and (max-width: $medium) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: $small) {
        grid-template-columns: 1fr;
    }


    .card {
        background-color: $elements-color;
        color: $text-color;
        box-shadow: $box-shadow;

        &:hover {
            box-shadow: $card-hover;
            // color: lighten($text-color, 5%);
            // background-color: lighten($elements-color, 5%);
            filter: brightness(85%);
        }

        .card-body {
            // padding-bottom: 70px;
            .card-title {
                color: $nav-color;
            }

            .card-text {
                padding-left: 20px;
                color: $text-color;
            }            
        }

        .card-footer{
            p, a{
                text-decoration: none;
                color: $text-color;
            }
        }
    }
}

 ul.event-members-list {
    li {
        color: limegreen;

        &.invitation-sent{
            color: grey;
        }

        &.invitation-refused{
            color: red;
        }
    }
 }


 div.jumbotron {
     background-color: $elements-color;
     font-family: 'Poppins', sans-serif;
     text-transform: uppercase;
     border-radius: 0.25rem;
     margin: 0px 0px 16px;
     box-shadow: $box-shadow;
    

     h1, p {
         color: $jumbotron-text-color;
     }
 }

 .btn{
     background-color: $nav-color;
 }