$lightgreen: #12a0b3;
$blue: #006aff;

$dirt-white: rgb(226, 226, 226);
$nav-color: #434738;
$elements-color: #b5d43c;
$background-color: #F7F7F7;
$jumbotron-text-color: #F7F7F7;
$text-color: #F7F7F7;
$navbar-text-color: #F7F7F7;
$details-label-color: #F7F7F7;
$details-value-color: #434738;
$nav-links-color: #F7F7F7;
$nav-links-color-hover: grey;
$form-label-color: #F7F7F7;
$form-bg-color: #F7F7F7;
$form-input-color: #434738;

// d9ef81 b5d43c F7F7F7 434738

$text-shadow: 3px 7px 5px rgba(18, 33, 46, 0.7);
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$card-hover: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
$button-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);