$lightgreen: #12a0b3;
$blue: #006aff;
$purple: #5D4954;
$dirt-white: rgb(226, 226, 226);
$dark-purple: #44182C;


$text-shadow: 3px 7px 5px rgba(124,168,206,0.7);
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);