@import "./colors";

.events-subheader {
    font-size: 14px;
    font-weight: 300;
    border-bottom: 1px solid $purple;
    background-color: $purple;
    padding: 1.25rem;
    margin: 0px 0px 32px;
    border-radius: 0.25rem;
    // padding-bottom: 10px;
    text-transform: uppercase;
    box-shadow: $box-shadow;

    &.blue {
        color: $dirt-white;
    }
}

.events-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blue;
    text-shadow: $text-shadow;
}

.event-details-container {
    // margin: 20px 0;
    font-family: 'Poppins', sans-serif;
    color: $dirt-white;  
    background-color: $purple;
    padding: 20px;
    border-radius: 0.25rem;
    margin-top: 16px;
    box-shadow: $box-shadow;

    .event-group {
        margin-bottom: 5px;

        &.inline-two {
            width: 49%;
        }

        &.inline-three {
            width: 32%;
        }

        .event-label {
            font-weight: bold;
            color: $dirt-white;
            border-bottom: 1px solid;
        }

        .event-value {
            padding: 10px;
            font-size: 20px;
            color: $dirt-white;
        }
    }

    hr{
        background-color: $purple;
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $purple;
        margin: 1em 0;
        padding: 0;
    }
}

.card{
    box-shadow: $box-shadow;
}