@import "./colors";

.events-subheader {
    font-size: 14px;
    font-weight: 300;
    border-bottom: 1px solid $lightgreen;
    padding-bottom: 10px;

    &.blue {
        color: $lightgreen;
    }
}

.events-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blue;
    text-shadow: $text-shadow;
}

.event-details-container {
    margin: 20px 0;
    .event-group {
        margin-bottom: 5px;

        &.inline-two {
            width: 49%;
        }

        &.inline-three {
            width: 30%;
        }

        .event-label {
            font-weight: bold;
            color: $lightgreen;
            border-bottom: 1px solid;
        }

        .event-value {
            padding: 10px;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.5);
        }
    }
}