@import "colors";

.form {
    font-family: 'Poppins', sans-serif;
    
    background-color: $elements-color;
    padding: 20px;
    border-radius: 0.25rem;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: $box-shadow;
}

.form-group{
    label{
        color: $form-label-color;
    }

    input.form-control {
        color: $form-input-color;
    }

    .form-control{
        background-color: $form-bg-color;
        border: none;
        

        &.d-block{
            background-color: black;
            color: grey;
        }
    }
}

.form-text {
    color: $nav-color;

    a{
        text-decoration: none;
        color: $nav-color;
        font-weight: bold;
    }
    a:hover{
        color: $nav-links-color-hover;
    }
}