@import "colors";
.add-event{
    .fa-calendar-plus{
        
        color: $text-color;
        font-size: 30px;
    }        
}

.event-info-btn, .event-edit-btn, .event-delete-btn {
    font-family: 'Poppins', sans-serif;
    margin-left: 5px;
    
}

.btn-form {
    box-shadow: $button-shadow;
}
