@import "colors";
.add-event{
    .fa-calendar-plus{
        width: 90px;
        // block-size: 50px;
        color: $text-color;
        
    }        
}

.event-info-btn, .event-edit-btn, .event-delete-btn {
    font-family: 'Poppins', sans-serif;
    margin-left: 5px;
    
}

.btn-form {
    box-shadow: $button-shadow;
}
