@import "./colors.scss";

.usr-profile-container {
    font-family: 'Poppins', sans-serif; 
    background-color: $elements-color;
    padding: 20px;
    border-radius: 0.25rem;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: $box-shadow;

    .usr-group {
        margin-bottom: 5px;

        &.inline-two {
            width: 49%;
        }

        .usr-label {
            font-weight: bold;
            color: $details-label-color;
            border-bottom: 1px solid;
        }

        .usr-value {
            padding: 10px;
            font-size: 20px;
            color: $details-value-color;
        }
    }
}